#!/bin/sh

/etc/X11/xinit/xinitrc.d/50-systemd-user.sh
systemctl --user start X-online.target

xrdb .Xresources &
#$HOME/.fehbg &
nitrogen --restore
setxkbmap -layout latam,us -variant ,altgr-intl -option -option grp:ctrls_toggle -option caps:swapescape &
# xsettingsd &
# xfce4-power-manager &
# lxpolkit &
picom --experimental-backends >/dev/null 2>&1 &
# pcmanfm -d &
dunst &
# unclutter &
redshift &

# Regenerate dmenu cache
# rm ~/.cache/dmenu_run; dmenu_path >/dev/null 2>&1 &

# Start kdeconnect
# Enabling the unit doesn't work right now
# systemctl --user start kdeconnect.service &
setsid /usr/libexec/kdeconnectd &

# Allow sxhkd to grab the power key
systemd-inhibit --what=handle-power-key \
    --who="Power Key inhibitor for X" \
    --why="Disable power key behaviour so X programs can use it" \
    sh -c 'while true; do sleep 2419200; done' &
