#!/bin/sh

$HOME/.fehbg &
setxkbmap -layout latam,us -variant ,altgr-intl -option -option grp:ctrls_toggle -option caps:swapescape &
xsettingsd &
# xfce4-power-manager &
# lxpolkit &
compton &
# pcmanfm -d &
dunst &
unclutter &
