@import "gruvbox-dark"

window {
    font: "Hack Nerd Font 24";
}

listview {
    border: 0;
    scrollbar: false;
}

element {
    border-radius: 4px;
    border-color: transparent;
}

element-text {
    vertical-align: 0.5;
    horizontal-align: 0.5;
}
